#
#
#
_libgcc_mutex
_openmp_mutex
blas
bzip2
c-ares
ca-certificates
certifi
cmake
composite-measure
cython
distro
expat
intel-openmp
krb5
ld_impl_linux-64
libcurl
libedit
libev
libffi
libgcc-ng
libgfortran-ng
libgfortran4
libgomp
libnghttp2
libssh2
libstdcxx-ng
libuv
lz4-c
mkl
mkl-service
mkl_fft
mkl_random
ncurses
ninja
numpy
numpy-base
openssl
packaging
pip
pyparsing
python
python_abi
readline
rhash
scikit-build
scipy
setuptools
six
sqlite
tk
tzdata
wheel
xz
zlib
zstd
